<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if error %}
<h1>Что-то пошло не так, попробуйте еще раз</h1>
{% else %}
<h1>Введите логин и пароль</h1>
{% endif %}
    <form action="" method="post">
        <p>
     <label for="username">Username</label>
     <input type="text" name="username">
 </p>
 <p>
     <label for="password">Password</label>
     <input type="password" name="password">
 </p>
 <p>
     <input type="submit" value="login" name="login">
  <input type="submit" value="registration" name="registration">
 </p>

 </form>

</body>
</html>